@import url('https://fonts.googleapis.com/css?family=Asap|Patua+One');

html, body {
    margin: 0;
    padding: 0;
    background: rgb(235, 169, 126);
    font-family: 'Patua One';
}

/* :target {
    display: block;
    position: relative;
    top: -40px; 
}  */


/* Navbar styling */
nav {
    text-align: right;
    position: fixed;
    width: 100%;
    background-color: rgb(235, 169, 126);
}

nav ul li {
    display: inline-block;
    padding: 3px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin: 15px;
    padding: 4px;
}

nav ul li a:hover {
    background-color: rgba(19, 56, 88, 0.904);
    border-radius: 5px;
}

/* Welcome section */
#welcome-section {
    text-align: center;
    padding-top: 30vh;
    height: 70vh;
}

h1 {
    font-size: 50px;
}


/* Blue sections */
.blue {
    background-color: rgba(19, 56, 88, 0.9);
    height: 100%;
    color: white;
    padding-bottom: 30px;
}

h2 {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 30px;
} 

.blue p, .pink p {
    font-family: Asap;
    font-size: 20px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* Projects */
/* Inherit h2 properties from previous */
#projects {
    /* margin-top: -30px; */
}

#projects ul li {
    list-style: none;
    margin: 10px;
}

.links {
    text-decoration: none;
    color: black;
} 

 .links:hover {
    background-color: rgba(19, 56, 88, 0.904);
    padding: 2px 5px 2px 5px;
    border-radius: 2rem;
} 

/* Contact me */
#contact a {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    color: white;
}

#contacts ul li {
    margin: 10px;
}

#contact .links:hover {
    background-color: rgb(235, 169, 126);
    border-radius: 5px;
    padding: 2px 5px 2px 5px;

}


@media screen and (max-width: 500px) {
    nav {
        text-align: center;
        position: fixed;
        width: 100%;
        background-color: rgb(235, 169, 126);
    }
    
    nav ul {
        display: flex;
        flex-direction: column;
  
    }

}


