@import url('https://fonts.googleapis.com/css?family=Asap|Patua+One');
@import url('https://fonts.googleapis.com/css?family=Hind');

/* =====================================================================
   RESETS */

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: rgba(19, 56, 88, 0.85);
}

a:hover {
    text-decoration: none;
}

/* =====================================================================
    BASE TAGS STYLING */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: rgba(19, 56, 88, 0.85);
    position: relative;
}

h1 {
    text-shadow: 2px 2px 5px grey;
    font-size: 4rem;
    font-family: 'Patua One';
    text-align: left;
}

h2 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Patua One';
}

h3, h4 {
    text-align: center;

}

p {
    text-align: left;
}

p {
    font-size: 1.3rem;
}

figcaption {
    font-size: .7rem;
    font-family: Asap;
}

section {
    position: relative;
}



label {
    padding: 2px 5px 2px 5px;
    background-color: rgba(19, 56, 88, 0.85);
    color: white;
    border-radius: 5px;
}



/* =====================================================================
    HELPER-CLASSES */

.content-wrapper {
    max-width: 800px;
    margin: auto;
    padding-left: 20px; 
    padding-right: 20px;
}

#about {
    background-image: linear-gradient(to top, #c0d4f2, #d6d3f0, #e7d4ea, #f2d7e3, #f6dcde);
    min-height: 100%; 
}

#contact {
    background-image: linear-gradient(to top, #c0d4f2, #d6d3f0, #e7d4ea, #f2d7e3, #f6dcde);
    background-size: auto;
    min-height: 100%; 
}


#projects {
    background-image: linear-gradient(to top, #c0d4f2, #d6d3f0, #e7d4ea, #f2d7e3, #f6dcde);
    min-height: 100%; 
}

.welcome {
    padding-top: 20vh;
    height: 100vh;

}

.welcome-full {
    background-image: url("../img/wooden-grey.jpg");
    background-size: cover;
    background-position: center;
}

.welcome-main {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}




#subtitle {
    text-align: left;
    font-size: 2rem;
    font-family: 'Patua One';
    text-shadow: 2px 2px 5px grey;
}



.w-icons {
    font-size: 300%;
}

.top {
    padding-top: 75px;
}

/* About me */


.about-img {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.about-img figure {
    margin: auto;
    width: 200px;
    padding: 5px;
}

.about-img figure img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 2px 2px 7px black;
}

figcaption {
    text-align: center;
    margin-top: 10px;
}


.about-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.abt-section {
    padding: 10px 10px 0px 10px;
}

.p-text{
    padding-top: 10px;
    text-align: left;
}

.a-icons {
    padding-top: 10px;
    max-width: 600px;
    padding-bottom: 60px;
    padding-top: 40px;

}

.a-icons div i {
    text-align: center;
    margin: auto;
}

.html-icon {
    color: #E45132;
}

.css-icon {
    color:  #2474B8;
}

.js-icon {
    color: #F5DE30;
}

.bs-icon {
    color: #614788;
}

.git-icon {
    color: #EA4F33;
}

.p-text {
    margin: auto;
    max-width: 500px;
}

.personal {
    margin-top: 0;
    padding-top: 0;
}

.subtitle-text {
    border-top: 2px solid rgba(19, 56, 88, 0.85);
    max-width: 600px;
    margin: auto;
    padding-bottom: 20px;

}

/* Projects Section */
.proj {
    padding: 20px 0px;

}
.proj-title {
    text-align: left;
    font-size: 25px;
}

.proj img {
    border: 10px solid grey;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
}

.btn {
    min-width: 120px;
    margin-right: 20px;
    margin-bottom: 40px;
}





/* Contact me */
.h-contact {
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 200px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.icons a {
    transform: scale(2);
    color: white;
}

.icons a:hover {
    color: #6e90db;
}

/* Form area */
.contact-form {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.form-inputs {
    display: block;
    width: 350px;
    margin: auto;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#name-row, #email-row {
    padding: 0 0 20px 0;
}




/* Text input area styling */

 #message {
    height: 120px;
    border-radius: 5px;
    resize: none;
}

.sub-btn {
    margin: auto;
    padding: 50px 0px 20px 0px;
    width: 100px;
}


button:hover {
    background-color: rgba(156, 155, 155, 0.897);
}











/* =====================================================================
    HEADER & NAVBAR */

.nav-wrapper {
    max-width: 750px;
    margin: auto;
}

.navigation-links, .navbar {
    width: 100%;
    background-color: rgba(19, 56, 88, 0.85) !important;
    box-shadow: 0 2px 5px black;
    z-index: 1;
    position: fixed;
} 

.nav-link {
    color: white !important;
}

.nav-link:hover {
    background-color: rgba(228, 135, 135, 0.5);
    color: white !important; /* rgba(19, 56, 88, 0.85); */
    border-radius: 3px;
}

.active {
    color: salmon !important;
}






/* =====================================================================
    FOOTER */

footer {
    background-color: rgba(19, 56, 88, 0.85);
    height: 20px;
    width: 100%;
    color: white;
    position: absolute;
    bottom: 0;
    font-size: 12px;
    margin-top: 100px;
}



















/* SMARTPHONE SIZING */

@media screen and (max-width: 667px) {

    /* About me image styling for smaller screen */
    .about-img {
        display: flex;
        flex-direction: row;
        padding: 20px;
    }
    
    .about-img figure {
        margin: auto;
        width: 200px;
    }
    
    .about-img figure img {
        width: 100%;
        border-radius: 50%;
    }

    figcaption {
        display: none;
    }

    .welcome-main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .about-icons {
        padding-left: 75px;
    }

    .proj-buttons {
        display: flex;
        justify-content: space-evenly;
    }

    h1, h2, #subtitle, .welcome div {
        text-align: center;
        margin: auto;
        padding: 0;
    }

    .nav-link:hover {
        background-color: transparent;
        color: grey!important;
    }

    .active {
        color: salmon !important;
    }


}

@media only screen and (max-width: 475px) {

    /* Home section styling for smartphone */
    
    h1 {
        font-size: 3.3rem;
    }

    #subtitle {
        font-family: 'Patua One';
        font-size: 2rem;
        line-height: 20px;
    }


    /* ALL sections styling for smartphone */
    .content-wrapper {
        max-width: 400px;
        margin: auto;
    }

    h1 {
        font-size: 2.7rem;
        text-align: center;
    }

    h2, #subtitle {
        text-align: center;
        font-size: 1.3rem;
    }
    
    p {
        font-family: 'Hind', sans-serif;
        font-size: 1.2rem;
        text-align: left;
    }

    .welcome {
        padding-top: 220px;
    }

    .form-control {
        max-width: 300px;
        margin: auto;
        padding: 0;
    }

    label {
        margin-left: 25px;
    }

    .bitmoji {
        max-width: 175px;
    }

    .about-icons {
        padding-left: 55px;
        padding-top: 10px;
    }


}


